<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>EmployeeServlet</servlet-name>
        <servlet-class>com.NBCC.EmployeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeamServlet</servlet-name>
        <servlet-class>com.NBCC.TeamServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TaskServlet</servlet-name>
        <servlet-class>com.NBCC.TaskServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TaskShowServlet</servlet-name>
        <servlet-class>com.NBCC.TaskShowServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JobServlet</servlet-name>
        <servlet-class>com.NBCC.JobServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JobShowServlet</servlet-name>
        <servlet-class>com.NBCC.JobShowServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeamShowServlet</servlet-name>
        <servlet-class>com.NBCC.TeamShowServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EmployeeServlet</servlet-name>
        <url-pattern>/EmployeeCreater</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EmployeeShowServlet</servlet-name>
        <servlet-class>com.NBCC.EmployeeShowServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EmployeeShowServlet</servlet-name>
        <url-pattern>/EmployeeShow</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeamServlet</servlet-name>
        <url-pattern>/TeamServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TaskServlet</servlet-name>
        <url-pattern>/TaskServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TaskShowServlet</servlet-name>
        <url-pattern>/TaskShowServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JobServlet</servlet-name>
        <url-pattern>/JobServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JobShowServlet</servlet-name>
        <url-pattern>/JobShowServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeamShowServlet</servlet-name>
        <url-pattern>/TeamShowServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
